openapi: 3.0.3
info:
  title: 'Atlas SNG'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://atlas.sng.sk'
paths:
  '/api/verify/{code}':
    get:
      summary: 'GET /api/verify/{code}'
      operationId: gETapiverifycode
      description: "Checks if the typed code is valid. If it is valid, the response will contain the code's data (related object type + ID)\n\nOtherwise, the request will fail with a 404."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  codeable_id: 'SVK:SNG.O_3095'
                  codeable_type: item
                properties:
                  codeable_id:
                    type: string
                    example: 'SVK:SNG.O_3095'
                  codeable_type:
                    type: string
                    example: item
        404:
          description: 'Code not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Record not found.'
                properties:
                  message:
                    type: string
                    example: 'Record not found.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: code
        description: ''
        example: 17
        required: true
        schema:
          type: integer
  '/api/items/{id}':
    get:
      summary: 'GET api/items/{id}'
      operationId: gETApiitemsid
      description: "Gets the item with the given ID. If it is found, the response will contain the item's data."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 'SVK:SNG.O_1405'
                    title: 'Žena s červeným kohútom'
                    author: 'Ester Šimerová-Martinčeková'
                    author_description: ''
                    dating: '1938'
                    locked_bucketlist_description: ''
                    dating_short: '1938'
                    description: "<p><em>Žena s červeným kohútom</em> pochádza zo série predvojnových obrazov, v ktorých sa autorka inšpirovala výhľadom na trhovisko priamo z okna svojho ateliéru pri Avione. Svojsky sa vyrovnala s francúzskymi inšpiráciami kubizmu a zároveň s vplyvom kolegov Mikuláša Galandu či Janka Alexyho.</p>\n<p>Dielo možno interpretovať ako štúdiu farieb a tvarov, ako erotický odkaz či predzvesť blížiacej sa druhej svetovej vojny. Kontrast agresívnej farby a polohy kohúta s nežným ochranným gestom ženy môže naznačovať, že vo vojne sú vždy dve strany – tá ktorá konflikt poháňa, a tá, ktorá proti svojej vôli znáša jeho následky.</p>\n"
                    authorities:
                      -
                        id: '10511'
                        name: 'Ester Šimerová-Martinčeková'
                        has_image: true
                        biography: 'Ester absolvovala krátky kurz v maliarskej škole Gustáva Mallého a hneď po maturite na gymnáziu v Bratislave pokračovala v štúdiu v Paríži, čo v tom čase pre mestské dievča nebolo vôbec obvyklé. Umelec si podľa nej mal vyberať z prírody to, čo považuje za zaujímavé, a nemusí sa držať striktne toho, čo vidí. „Nechcem byť doma cudzorodým umelcom. To, čo som si zo sveta priniesla, chcem priviesť k rozkvetu tu doma.“'
                        birth_place: Bratislava
                        death_place: 'Liptovský Mikuláš'
                        birth_date: '1909'
                        death_date: '2005'
                        image_url: 'https://www.webumenia.sk/images/autori/1/98/10511/10511.jpeg'
                        related_items: null
                    image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/600'
                    image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/800 800w'
                    images:
                      -
                        deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGTMG%2FX1500%2FSNG--O_1405--1_1--2013_10_24--L2_WEB.jp2.dzi'
                    image_aspect_ratio: 0.6275
                    webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.O_1405'
                    code: '011001000'
                    offset_top: -111
                    video_thumbnail: null
                    video_embed: null
                    video_aspect_ratio: null
                    video_title: ''
                    video_subtitle: ''
                    story_id: rec0EynktJy9zcICY
                    location_formatted: 'Spoločenstvo žien, sála V, 2. podlažie, Vodné kasárne'
                    exhibition:
                      id: recKd1Y0FnQmmFbwW
                      name: 'Výstava Prológ: 12 farieb reality'
                    bucketlists: []
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 'SVK:SNG.O_1405'
                      title:
                        type: string
                        example: 'Žena s červeným kohútom'
                      author:
                        type: string
                        example: 'Ester Šimerová-Martinčeková'
                      author_description:
                        type: string
                        example: ''
                      dating:
                        type: string
                        example: '1938'
                      locked_bucketlist_description:
                        type: string
                        example: ''
                      dating_short:
                        type: string
                        example: '1938'
                      description:
                        type: string
                        example: "<p><em>Žena s červeným kohútom</em> pochádza zo série predvojnových obrazov, v ktorých sa autorka inšpirovala výhľadom na trhovisko priamo z okna svojho ateliéru pri Avione. Svojsky sa vyrovnala s francúzskymi inšpiráciami kubizmu a zároveň s vplyvom kolegov Mikuláša Galandu či Janka Alexyho.</p>\n<p>Dielo možno interpretovať ako štúdiu farieb a tvarov, ako erotický odkaz či predzvesť blížiacej sa druhej svetovej vojny. Kontrast agresívnej farby a polohy kohúta s nežným ochranným gestom ženy môže naznačovať, že vo vojne sú vždy dve strany – tá ktorá konflikt poháňa, a tá, ktorá proti svojej vôli znáša jeho následky.</p>\n"
                      authorities:
                        type: array
                        example:
                          -
                            id: '10511'
                            name: 'Ester Šimerová-Martinčeková'
                            has_image: true
                            biography: 'Ester absolvovala krátky kurz v maliarskej škole Gustáva Mallého a hneď po maturite na gymnáziu v Bratislave pokračovala v štúdiu v Paríži, čo v tom čase pre mestské dievča nebolo vôbec obvyklé. Umelec si podľa nej mal vyberať z prírody to, čo považuje za zaujímavé, a nemusí sa držať striktne toho, čo vidí. „Nechcem byť doma cudzorodým umelcom. To, čo som si zo sveta priniesla, chcem priviesť k rozkvetu tu doma.“'
                            birth_place: Bratislava
                            death_place: 'Liptovský Mikuláš'
                            birth_date: '1909'
                            death_date: '2005'
                            image_url: 'https://www.webumenia.sk/images/autori/1/98/10511/10511.jpeg'
                            related_items: null
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '10511'
                            name:
                              type: string
                              example: 'Ester Šimerová-Martinčeková'
                            has_image:
                              type: boolean
                              example: true
                            biography:
                              type: string
                              example: 'Ester absolvovala krátky kurz v maliarskej škole Gustáva Mallého a hneď po maturite na gymnáziu v Bratislave pokračovala v štúdiu v Paríži, čo v tom čase pre mestské dievča nebolo vôbec obvyklé. Umelec si podľa nej mal vyberať z prírody to, čo považuje za zaujímavé, a nemusí sa držať striktne toho, čo vidí. „Nechcem byť doma cudzorodým umelcom. To, čo som si zo sveta priniesla, chcem priviesť k rozkvetu tu doma.“'
                            birth_place:
                              type: string
                              example: Bratislava
                            death_place:
                              type: string
                              example: 'Liptovský Mikuláš'
                            birth_date:
                              type: string
                              example: '1909'
                            death_date:
                              type: string
                              example: '2005'
                            image_url:
                              type: string
                              example: 'https://www.webumenia.sk/images/autori/1/98/10511/10511.jpeg'
                            related_items:
                              type: string
                              example: null
                      image_src:
                        type: string
                        example: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/600'
                      image_srcset:
                        type: string
                        example: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.O_1405/800 800w'
                      images:
                        type: array
                        example:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGTMG%2FX1500%2FSNG--O_1405--1_1--2013_10_24--L2_WEB.jp2.dzi'
                        items:
                          type: object
                          properties:
                            deep_zoom_url:
                              type: string
                              example: 'https://img.webumenia.sk/zoom/?path=%2FSNGTMG%2FX1500%2FSNG--O_1405--1_1--2013_10_24--L2_WEB.jp2.dzi'
                      image_aspect_ratio:
                        type: number
                        example: 0.6275
                      webumenia_url:
                        type: string
                        example: 'https://www.webumenia.sk/dielo/SVK:SNG.O_1405'
                      code:
                        type: string
                        example: '011001000'
                      offset_top:
                        type: integer
                        example: -111
                      video_thumbnail:
                        type: string
                        example: null
                      video_embed:
                        type: string
                        example: null
                      video_aspect_ratio:
                        type: string
                        example: null
                      video_title:
                        type: string
                        example: ''
                      video_subtitle:
                        type: string
                        example: ''
                      story_id:
                        type: string
                        example: rec0EynktJy9zcICY
                      location_formatted:
                        type: string
                        example: 'Spoločenstvo žien, sála V, 2. podlažie, Vodné kasárne'
                      exhibition:
                        type: object
                        properties:
                          id:
                            type: string
                            example: recKd1Y0FnQmmFbwW
                          name:
                            type: string
                            example: 'Výstava Prológ: 12 farieb reality'
                      bucketlists:
                        type: array
                        example: []
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: ''
        example: 'SVK:SNG.O_1405'
        required: true
        schema:
          type: string
  '/api/sections/{id}':
    get:
      summary: 'GET api/sections/{id}s'
      operationId: gETApisectionsids
      description: "Gets the section for the given ID. If it is, the response will contain the section's data."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: rec8or1MegfsJY2CO
                    title: 'Verejné telo'
                    description: "<p>Motív Piety vyzýva k ľútosti. Smutným tichým gestom ukazuje: „Pozrite, čo ste dopustili.“ Príbeh nepochádza zo Svätého písma, Európou sa zo severu šíril skôr ako „urbánna legenda“.</p>\n<p>Krása Piety spočíva aj v jej jednoduchosti. Pokojná scéna s dvoma postavami toho obsahuje veľa – obetavosť, materskú lásku aj vôľu prikryť a chrániť.\_\_</p>\n<p>Scéna s Pannou Máriou a Kristom dostala stovky profesionálnych umeleckých aj ľudových remeselných stvárnení. Pieta prežila ústup kresťanstva ako ústrednej témy vo výtvarnom umení. Jej dnešná podoba v podaní Jána Zelinku tak trochu odráža drsnú povahu chaotického a neustále pochybujúceho sveta súčasnosti.</p>\n"
                    image: null
                    code: '110001010'
                    items:
                      -
                        id: 'SVK:SNG.P_2858'
                        title: 'Obrazoborectvo / oddelené súvislosti'
                        author: 'Ján Zelinka'
                        author_description: ''
                        dating: '21. storočie, 2010'
                        locked_bucketlist_description: ''
                        dating_short: '2010'
                        description: "<p><em>„Pomôžem si citátom od Elisabeth Frink: ,K soche, ako je táto, sa človek dostáva postupne a ešte dlho potom, ako na ňu prvýkrát pomyslel. Uvidíte niečo, zapáči sa vám nejaká tvár alebo postava a naozaj ju chcete zachytiť, chcete pre ňu nájsť dôvod vo svojej mysli...' Súsošie vytvára vlastnú mytológiu osobných zážitkov a možno sa len týmto spôsobom liečim z reality.&quot;</em></p>\n<p>Hrozivé súsošie z betónu, kameňa, hrdzavého kovu a vrecoviny vzniklo technikou tzv. negatívneho modelovania. Materiál pokrýva povrch formy, zatiaľ čo vnútro sochy je takmer duté. Podoba piety s Ježišom ležiacim na zemi pochádza z čias renesancie, keď bola poloha v matkinom lone považovaná za nerealistickú.</p>\n<p>Autor dielo vytvoril po nepríjemnej skúsenosti s predstaviteľmi cirkvi a chcel sa takto z negatívneho zážitku „vyrozprávať“. Postavy bez tvárí však naznačujú až takmer univerzálne posolstvo. Socha môže pripomínať matku s dieťaťom utekajúcu z vojnovej zóny, obeť atómovej bomby či sopečného výbuchu.</p>\n"
                        authorities:
                          -
                            id: '1503529'
                            name: 'Ján Zelinka'
                            has_image: true
                            biography: 'Zelinka je sochár filozof, ktorý skúma realitu a snaží sa ju uchopiť prostredníctvom vlastnej osobitej interpretácie cez nevšedné pracovné postupy a technológie. Snaží sa vzbudzovať v ľuďoch zvedavosť, inšpirovať ich, ukazovať smer a pomáhať im vidieť veci istým spôsobom. Hoci používa netradičné materiály, jeho dielo je z hľadiska formy klasická socha.'
                            birth_place: 'Vranov nad Topľou'
                            death_place: null
                            birth_date: '1978'
                            death_date: ''
                            image_url: 'https://www.webumenia.sk/images/autori/529/1/1503529/1503529.jpeg'
                            related_items: null
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX2900%2FSNG--P_2858--1_1--2023_02_21--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 1.5009380863039
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.P_2858'
                        code: '100100001'
                        offset_top: 0
                        video_thumbnail:
                          src: 'https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1920x1080'
                          srcset: 'https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_100x75 100w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_200x150 200w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_295x166 295w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_640x360 640w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_960x540 960w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1280x720 1280w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1920x1080 1920w'
                          width: 1920
                          height: 1080
                        video_embed: 'https://player.vimeo.com/video/779850353?h=c42461091d'
                        video_aspect_ratio:
                          width: 9
                          height: 16
                        video_title: Video
                        video_subtitle: 'Dielo v ešte zabalenom stave'
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                      -
                        id: 'SVK:SNG.NL_67'
                        title: Pieta
                        author: 'Neznámy autor'
                        author_description: ''
                        dating: 1801–1900
                        locked_bucketlist_description: ''
                        dating_short: 1801–1900
                        description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                        authorities: []
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--1_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--2_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--3_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--4_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--5_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--6_6--2022_10_19--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 0.74875
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_67'
                        code: '111000011'
                        offset_top: -115
                        video_thumbnail: null
                        video_embed: null
                        video_aspect_ratio: null
                        video_title: ''
                        video_subtitle: ''
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                      -
                        id: 'SVK:SNG.NL_69'
                        title: 'Pieta II.'
                        author: 'Neznámy autor'
                        author_description: ''
                        dating: 1801–1900
                        locked_bucketlist_description: ''
                        dating_short: 1801–1900
                        description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                        authorities: []
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--1_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--2_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--3_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--4_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--5_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--6_6--2022_10_19--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 0.74875
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_69'
                        code: '110000001'
                        offset_top: -164
                        video_thumbnail: null
                        video_embed: null
                        video_aspect_ratio: null
                        video_title: ''
                        video_subtitle: ''
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                      -
                        id: 'SVK:SNG.NL_227'
                        title: Pieta
                        author: 'Neznámy autor'
                        author_description: ''
                        dating: '19. storočie, 3. tretina'
                        locked_bucketlist_description: ''
                        dating_short: '3. tretina'
                        description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                        authorities: []
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--1_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--2_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--3_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--4_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--5_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--6_6--2022_10_19--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 0.74875
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_227'
                        code: '010110001'
                        offset_top: -80
                        video_thumbnail: null
                        video_embed: null
                        video_aspect_ratio: null
                        video_title: ''
                        video_subtitle: ''
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                      -
                        id: 'SVK:SNG.NL_73'
                        title: 'Pieta I.'
                        author: 'Neznámy autor'
                        author_description: ''
                        dating: '19. storočie, 1. polovica'
                        locked_bucketlist_description: ''
                        dating_short: '1. polovica'
                        description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                        authorities: []
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--1_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--2_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--3_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--4_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--5_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--6_6--2022_10_18--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 0.74875
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_73'
                        code: '011010110'
                        offset_top: -85
                        video_thumbnail: null
                        video_embed: null
                        video_aspect_ratio: null
                        video_title: ''
                        video_subtitle: ''
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                      -
                        id: 'SVK:SNG.NL_71'
                        title: 'Pieta III.'
                        author: 'Neznámy autor'
                        author_description: ''
                        dating: '19. storočie, 2. polovica, 1890–1900'
                        locked_bucketlist_description: ''
                        dating_short: 1890–1900
                        description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                        authorities: []
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--1_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--2_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--3_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--4_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--5_6--2022_10_19--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--6_6--2022_10_19--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 0.74875
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_71'
                        code: '010100010'
                        offset_top: -63
                        video_thumbnail: null
                        video_embed: null
                        video_aspect_ratio: null
                        video_title: ''
                        video_subtitle: ''
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                      -
                        id: 'SVK:SNG.NL_68'
                        title: 'Pieta I.'
                        author: 'Neznámy autor'
                        author_description: ''
                        dating: 1801–1900
                        locked_bucketlist_description: ''
                        dating_short: 1801–1900
                        description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                        authorities: []
                        image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/600'
                        image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/800 800w'
                        images:
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--1_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--2_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--3_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--4_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--5_6--2022_10_18--L2_WEB.jp2.dzi'
                          -
                            deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--6_6--2022_10_18--L2_WEB.jp2.dzi'
                        image_aspect_ratio: 0.74875
                        webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_68'
                        code: '011110100'
                        offset_top: -90
                        video_thumbnail: null
                        video_embed: null
                        video_aspect_ratio: null
                        video_title: ''
                        video_subtitle: ''
                        story_id: reciw1Gq3J5A9hsM9
                        location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                        exhibition:
                          id: recCHJJNWWDgMSfd2
                          name: 'Expozícia Sacra'
                        bucketlists: []
                    location_formatted: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: rec8or1MegfsJY2CO
                      title:
                        type: string
                        example: 'Verejné telo'
                      description:
                        type: string
                        example: "<p>Motív Piety vyzýva k ľútosti. Smutným tichým gestom ukazuje: „Pozrite, čo ste dopustili.“ Príbeh nepochádza zo Svätého písma, Európou sa zo severu šíril skôr ako „urbánna legenda“.</p>\n<p>Krása Piety spočíva aj v jej jednoduchosti. Pokojná scéna s dvoma postavami toho obsahuje veľa – obetavosť, materskú lásku aj vôľu prikryť a chrániť.\_\_</p>\n<p>Scéna s Pannou Máriou a Kristom dostala stovky profesionálnych umeleckých aj ľudových remeselných stvárnení. Pieta prežila ústup kresťanstva ako ústrednej témy vo výtvarnom umení. Jej dnešná podoba v podaní Jána Zelinku tak trochu odráža drsnú povahu chaotického a neustále pochybujúceho sveta súčasnosti.</p>\n"
                      image:
                        type: string
                        example: null
                      code:
                        type: string
                        example: '110001010'
                      items:
                        type: array
                        example:
                          -
                            id: 'SVK:SNG.P_2858'
                            title: 'Obrazoborectvo / oddelené súvislosti'
                            author: 'Ján Zelinka'
                            author_description: ''
                            dating: '21. storočie, 2010'
                            locked_bucketlist_description: ''
                            dating_short: '2010'
                            description: "<p><em>„Pomôžem si citátom od Elisabeth Frink: ,K soche, ako je táto, sa človek dostáva postupne a ešte dlho potom, ako na ňu prvýkrát pomyslel. Uvidíte niečo, zapáči sa vám nejaká tvár alebo postava a naozaj ju chcete zachytiť, chcete pre ňu nájsť dôvod vo svojej mysli...' Súsošie vytvára vlastnú mytológiu osobných zážitkov a možno sa len týmto spôsobom liečim z reality.&quot;</em></p>\n<p>Hrozivé súsošie z betónu, kameňa, hrdzavého kovu a vrecoviny vzniklo technikou tzv. negatívneho modelovania. Materiál pokrýva povrch formy, zatiaľ čo vnútro sochy je takmer duté. Podoba piety s Ježišom ležiacim na zemi pochádza z čias renesancie, keď bola poloha v matkinom lone považovaná za nerealistickú.</p>\n<p>Autor dielo vytvoril po nepríjemnej skúsenosti s predstaviteľmi cirkvi a chcel sa takto z negatívneho zážitku „vyrozprávať“. Postavy bez tvárí však naznačujú až takmer univerzálne posolstvo. Socha môže pripomínať matku s dieťaťom utekajúcu z vojnovej zóny, obeť atómovej bomby či sopečného výbuchu.</p>\n"
                            authorities:
                              -
                                id: '1503529'
                                name: 'Ján Zelinka'
                                has_image: true
                                biography: 'Zelinka je sochár filozof, ktorý skúma realitu a snaží sa ju uchopiť prostredníctvom vlastnej osobitej interpretácie cez nevšedné pracovné postupy a technológie. Snaží sa vzbudzovať v ľuďoch zvedavosť, inšpirovať ich, ukazovať smer a pomáhať im vidieť veci istým spôsobom. Hoci používa netradičné materiály, jeho dielo je z hľadiska formy klasická socha.'
                                birth_place: 'Vranov nad Topľou'
                                death_place: null
                                birth_date: '1978'
                                death_date: ''
                                image_url: 'https://www.webumenia.sk/images/autori/529/1/1503529/1503529.jpeg'
                                related_items: null
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX2900%2FSNG--P_2858--1_1--2023_02_21--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 1.5009380863039
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.P_2858'
                            code: '100100001'
                            offset_top: 0
                            video_thumbnail:
                              src: 'https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1920x1080'
                              srcset: 'https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_100x75 100w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_200x150 200w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_295x166 295w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_640x360 640w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_960x540 960w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1280x720 1280w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1920x1080 1920w'
                              width: 1920
                              height: 1080
                            video_embed: 'https://player.vimeo.com/video/779850353?h=c42461091d'
                            video_aspect_ratio:
                              width: 9
                              height: 16
                            video_title: Video
                            video_subtitle: 'Dielo v ešte zabalenom stave'
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                          -
                            id: 'SVK:SNG.NL_67'
                            title: Pieta
                            author: 'Neznámy autor'
                            author_description: ''
                            dating: 1801–1900
                            locked_bucketlist_description: ''
                            dating_short: 1801–1900
                            description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                            authorities: []
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_67/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--1_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--2_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--3_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--4_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--5_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_67--6_6--2022_10_19--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 0.74875
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_67'
                            code: '111000011'
                            offset_top: -115
                            video_thumbnail: null
                            video_embed: null
                            video_aspect_ratio: null
                            video_title: ''
                            video_subtitle: ''
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                          -
                            id: 'SVK:SNG.NL_69'
                            title: 'Pieta II.'
                            author: 'Neznámy autor'
                            author_description: ''
                            dating: 1801–1900
                            locked_bucketlist_description: ''
                            dating_short: 1801–1900
                            description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                            authorities: []
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_69/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--1_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--2_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--3_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--4_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--5_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_69--6_6--2022_10_19--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 0.74875
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_69'
                            code: '110000001'
                            offset_top: -164
                            video_thumbnail: null
                            video_embed: null
                            video_aspect_ratio: null
                            video_title: ''
                            video_subtitle: ''
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                          -
                            id: 'SVK:SNG.NL_227'
                            title: Pieta
                            author: 'Neznámy autor'
                            author_description: ''
                            dating: '19. storočie, 3. tretina'
                            locked_bucketlist_description: ''
                            dating_short: '3. tretina'
                            description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                            authorities: []
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_227/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--1_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--2_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--3_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--4_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--5_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX300%2FSNG--NL_227--6_6--2022_10_19--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 0.74875
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_227'
                            code: '010110001'
                            offset_top: -80
                            video_thumbnail: null
                            video_embed: null
                            video_aspect_ratio: null
                            video_title: ''
                            video_subtitle: ''
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                          -
                            id: 'SVK:SNG.NL_73'
                            title: 'Pieta I.'
                            author: 'Neznámy autor'
                            author_description: ''
                            dating: '19. storočie, 1. polovica'
                            locked_bucketlist_description: ''
                            dating_short: '1. polovica'
                            description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                            authorities: []
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_73/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--1_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--2_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--3_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--4_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--5_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_73--6_6--2022_10_18--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 0.74875
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_73'
                            code: '011010110'
                            offset_top: -85
                            video_thumbnail: null
                            video_embed: null
                            video_aspect_ratio: null
                            video_title: ''
                            video_subtitle: ''
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                          -
                            id: 'SVK:SNG.NL_71'
                            title: 'Pieta III.'
                            author: 'Neznámy autor'
                            author_description: ''
                            dating: '19. storočie, 2. polovica, 1890–1900'
                            locked_bucketlist_description: ''
                            dating_short: 1890–1900
                            description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                            authorities: []
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_71/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--1_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--2_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--3_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--4_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--5_6--2022_10_19--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_71--6_6--2022_10_19--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 0.74875
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_71'
                            code: '010100010'
                            offset_top: -63
                            video_thumbnail: null
                            video_embed: null
                            video_aspect_ratio: null
                            video_title: ''
                            video_subtitle: ''
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                          -
                            id: 'SVK:SNG.NL_68'
                            title: 'Pieta I.'
                            author: 'Neznámy autor'
                            author_description: ''
                            dating: 1801–1900
                            locked_bucketlist_description: ''
                            dating_short: 1801–1900
                            description: "<p>Malé drevené sošky Piety vyrezávali z dreva nielen vyučení rezbári a stolári, ale aj samoukovia. Tvorili dôležitú súčasť kresťanských príbytkov aj u tých najchudobnejších, ktorí si nemohli na ochranu zadovážiť kvalitnejší obraz či sošku svätca alebo svätice.\_</p>\n<p>Piety tohto typu sa často umiestňovali v malých výklenkoch na štítoch a priečeliach domov alebo v kultovom kúte izby. Neposväcovali sa a aj po zmene majiteľa už zostávali súčasťou domov.</p>\n<p>Sošky Madony a Piety obľubovalo najmä katolícke obyvateľstvo západného Slovenska, severnej Oravy a okolia banských miest. Koncom 19. storočia začali pôvodné drevené sošky postupne nahrádzať sošky z porcelánu alebo zo sadry.\_</p>\n"
                            authorities: []
                            image_src: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/600'
                            image_srcset: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.NL_68/800 800w'
                            images:
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--1_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--2_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--3_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--4_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--5_6--2022_10_18--L2_WEB.jp2.dzi'
                              -
                                deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX100%2FSNG--NL_68--6_6--2022_10_18--L2_WEB.jp2.dzi'
                            image_aspect_ratio: 0.74875
                            webumenia_url: 'https://www.webumenia.sk/dielo/SVK:SNG.NL_68'
                            code: '011110100'
                            offset_top: -90
                            video_thumbnail: null
                            video_embed: null
                            video_aspect_ratio: null
                            video_title: ''
                            video_subtitle: ''
                            story_id: reciw1Gq3J5A9hsM9
                            location_formatted: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              id: recCHJJNWWDgMSfd2
                              name: 'Expozícia Sacra'
                            bucketlists: []
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 'SVK:SNG.P_2858'
                            title:
                              type: string
                              example: 'Obrazoborectvo / oddelené súvislosti'
                            author:
                              type: string
                              example: 'Ján Zelinka'
                            author_description:
                              type: string
                              example: ''
                            dating:
                              type: string
                              example: '21. storočie, 2010'
                            locked_bucketlist_description:
                              type: string
                              example: ''
                            dating_short:
                              type: string
                              example: '2010'
                            description:
                              type: string
                              example: "<p><em>„Pomôžem si citátom od Elisabeth Frink: ,K soche, ako je táto, sa človek dostáva postupne a ešte dlho potom, ako na ňu prvýkrát pomyslel. Uvidíte niečo, zapáči sa vám nejaká tvár alebo postava a naozaj ju chcete zachytiť, chcete pre ňu nájsť dôvod vo svojej mysli...' Súsošie vytvára vlastnú mytológiu osobných zážitkov a možno sa len týmto spôsobom liečim z reality.&quot;</em></p>\n<p>Hrozivé súsošie z betónu, kameňa, hrdzavého kovu a vrecoviny vzniklo technikou tzv. negatívneho modelovania. Materiál pokrýva povrch formy, zatiaľ čo vnútro sochy je takmer duté. Podoba piety s Ježišom ležiacim na zemi pochádza z čias renesancie, keď bola poloha v matkinom lone považovaná za nerealistickú.</p>\n<p>Autor dielo vytvoril po nepríjemnej skúsenosti s predstaviteľmi cirkvi a chcel sa takto z negatívneho zážitku „vyrozprávať“. Postavy bez tvárí však naznačujú až takmer univerzálne posolstvo. Socha môže pripomínať matku s dieťaťom utekajúcu z vojnovej zóny, obeť atómovej bomby či sopečného výbuchu.</p>\n"
                            authorities:
                              type: array
                              example:
                                -
                                  id: '1503529'
                                  name: 'Ján Zelinka'
                                  has_image: true
                                  biography: 'Zelinka je sochár filozof, ktorý skúma realitu a snaží sa ju uchopiť prostredníctvom vlastnej osobitej interpretácie cez nevšedné pracovné postupy a technológie. Snaží sa vzbudzovať v ľuďoch zvedavosť, inšpirovať ich, ukazovať smer a pomáhať im vidieť veci istým spôsobom. Hoci používa netradičné materiály, jeho dielo je z hľadiska formy klasická socha.'
                                  birth_place: 'Vranov nad Topľou'
                                  death_place: null
                                  birth_date: '1978'
                                  death_date: ''
                                  image_url: 'https://www.webumenia.sk/images/autori/529/1/1503529/1503529.jpeg'
                                  related_items: null
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: '1503529'
                                  name:
                                    type: string
                                    example: 'Ján Zelinka'
                                  has_image:
                                    type: boolean
                                    example: true
                                  biography:
                                    type: string
                                    example: 'Zelinka je sochár filozof, ktorý skúma realitu a snaží sa ju uchopiť prostredníctvom vlastnej osobitej interpretácie cez nevšedné pracovné postupy a technológie. Snaží sa vzbudzovať v ľuďoch zvedavosť, inšpirovať ich, ukazovať smer a pomáhať im vidieť veci istým spôsobom. Hoci používa netradičné materiály, jeho dielo je z hľadiska formy klasická socha.'
                                  birth_place:
                                    type: string
                                    example: 'Vranov nad Topľou'
                                  death_place:
                                    type: string
                                    example: null
                                  birth_date:
                                    type: string
                                    example: '1978'
                                  death_date:
                                    type: string
                                    example: ''
                                  image_url:
                                    type: string
                                    example: 'https://www.webumenia.sk/images/autori/529/1/1503529/1503529.jpeg'
                                  related_items:
                                    type: string
                                    example: null
                            image_src:
                              type: string
                              example: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/600'
                            image_srcset:
                              type: string
                              example: 'https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/220 220w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/300 300w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/600 600w, https://www.webumenia.sk/dielo/nahlad/SVK:SNG.P_2858/800 800w'
                            images:
                              type: array
                              example:
                                -
                                  deep_zoom_url: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX2900%2FSNG--P_2858--1_1--2023_02_21--L2_WEB.jp2.dzi'
                              items:
                                type: object
                                properties:
                                  deep_zoom_url:
                                    type: string
                                    example: 'https://img.webumenia.sk/zoom/?path=%2FSNGFOTO%2FX2900%2FSNG--P_2858--1_1--2023_02_21--L2_WEB.jp2.dzi'
                            image_aspect_ratio:
                              type: number
                              example: 1.5009380863039
                            webumenia_url:
                              type: string
                              example: 'https://www.webumenia.sk/dielo/SVK:SNG.P_2858'
                            code:
                              type: string
                              example: '100100001'
                            offset_top:
                              type: integer
                              example: 0
                            video_thumbnail:
                              type: object
                              properties:
                                src:
                                  type: string
                                  example: 'https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1920x1080'
                                srcset:
                                  type: string
                                  example: 'https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_100x75 100w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_200x150 200w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_295x166 295w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_640x360 640w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_960x540 960w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1280x720 1280w, https://i.vimeocdn.com/video/1565142997-9edde2e9e3455ac6118814c35d71c4a0b6e15e3b8f4244d6af6b28e40748097d-d_1920x1080 1920w'
                                width:
                                  type: integer
                                  example: 1920
                                height:
                                  type: integer
                                  example: 1080
                            video_embed:
                              type: string
                              example: 'https://player.vimeo.com/video/779850353?h=c42461091d'
                            video_aspect_ratio:
                              type: object
                              properties:
                                width:
                                  type: integer
                                  example: 9
                                height:
                                  type: integer
                                  example: 16
                            video_title:
                              type: string
                              example: Video
                            video_subtitle:
                              type: string
                              example: 'Dielo v ešte zabalenom stave'
                            story_id:
                              type: string
                              example: reciw1Gq3J5A9hsM9
                            location_formatted:
                              type: string
                              example: 'Expozícia Sakrálne umenie, sála VIII, 2. podlažie, Vodné kasárne'
                            exhibition:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: recCHJJNWWDgMSfd2
                                name:
                                  type: string
                                  example: 'Expozícia Sacra'
                            bucketlists:
                              type: array
                              example: []
                      location_formatted:
                        type: string
                        example: null
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: ''
        example: rec8or1MegfsJY2CO
        required: true
        schema:
          type: string
  /api/collections:
    post:
      summary: 'POST api/collections'
      operationId: pOSTApicollections
      description: 'Saves the user collection. Returns the URL to the saved collection.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  url: 'https://atlas.sng.sk/eA1'
                properties:
                  success:
                    type: boolean
                    example: true
                  url:
                    type: string
                    example: 'https://atlas.sng.sk/eA1'
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  description: 'The list of item IDs.'
                  example:
                    - 'SVK:SNG.IM_101'
                    - 'SVK:SNG.IM_304'
                  items:
                    type: string
      security: []
  '/api/collections/{hashid}':
    get:
      summary: 'GET api/collections/{hashid}'
      operationId: gETApicollectionshashid
      description: 'Gets the saved user collection by hashid. Returns the array of item IDs.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - 'SVK:SNG.O_4173'
                  - 'SVK:SNG.O_3753'
                  - 'SVK:SNG.P_2712'
                  - 'SVK:SNG.G_13270'
                  - 'SVK:SNG.NL_67'
                  - 'SVK:SNG.UP-DK_4807'
                  - 'SVK:SNG.P_2688'
                  - 'SVK:SNG.O_3330'
                  - 'SVK:SNG.O_6953-4'
                  - 'SVK:SNG.P_2753'
                  - 'SVK:SNG.G_663'
                  - 'SVK:SNG.UP-P_3279'
                  - 'SVK:SNG.P_2600'
                  - 'SVK:SNG.O_7026'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: hashid
        description: ''
        example: n2m
        required: true
        schema:
          type: string
  '/api/stories/{id}':
    get:
      summary: 'GET api/stories/{id}'
      operationId: gETApistoriesid
      description: "Gets the story with the given ID. If it is, the response will contain the story's data."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: rec2Cq3jSUmcpveKf
                    text: "<p>Balóny prinášajú do výstavného priestoru pocity tepla a telesnosti. Sú akýmsi symbolickým modelom sveta, no zároveň aj skupinou veľkorysých <strong>dýchajúcich obrov</strong>, ktorí novú výstavnú sálu „zabývajú“ pre ďalšie diela súčasného umenia.</p>\n<p>Pôvodne mali byť balóny aj impulzom pre blízky kontakt medzi ľuďmi. Túto myšlienku rozvíja špeciálna <strong>tanečná performancia</strong> <em>Komplementarita</em> choreografky <strong>Petry Fornayovej</strong>.</p>\n"
                    links:
                      -
                        id: recYbC25rmRIoXUPn
                        title: 'Čo symbolizujú farby?'
                        story_id: recn2jDclSbYQeJ5a
                      -
                        id: recHQ3qSxV28gA00y
                        title: 'Ako balóny dýchajú?'
                        story_id: recrNWWgMga2TDy9z
                      -
                        id: recXHUFWSo2AR2Vov
                        title: 'Viac o performance'
                        story_id: reclu0PbfgmSWjAfT
                      -
                        id: recrit2DllZbrufFQ
                        title: Naspäť
                        story_id: rec6wsEULr2e5WyWZ
                    images:
                      -
                        src: 'https://atlas.sng.sk.test/storage/media/91/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE.jpeg'
                        srcset: 'https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_1200_1200.jpeg 1200w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_1003_1003.jpeg 1003w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_839_839.jpeg 839w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_702_702.jpeg 702w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_588_588.jpeg 588w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_491_491.jpeg 491w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_411_411.jpeg 411w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_344_344.jpeg 344w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_288_288.jpeg 288w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_241_241.jpeg 241w, data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHg9IjAiCiB5PSIwIiB2aWV3Qm94PSIwIDAgMTIwMCAxMjAwIj4KCTxpbWFnZSB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB4bGluazpocmVmPSJkYXRhOmltYWdlL2pwZWc7YmFzZTY0LC85ai80QUFRU2taSlJnQUJBUUVBWUFCZ0FBRC8vZ0E3UTFKRlFWUlBVam9nWjJRdGFuQmxaeUIyTVM0d0lDaDFjMmx1WnlCSlNrY2dTbEJGUnlCMk9EQXBMQ0J4ZFdGc2FYUjVJRDBnT1RBSy85c0FRd0FEQWdJREFnSURBd01EQkFNREJBVUlCUVVFQkFVS0J3Y0dDQXdLREF3TENnc0xEUTRTRUEwT0VRNExDeEFXRUJFVEZCVVZGUXdQRnhnV0ZCZ1NGQlVVLzlzQVF3RURCQVFGQkFVSkJRVUpGQTBMRFJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVUvOEFBRVFnQUlBQWdBd0VSQUFJUkFRTVJBZi9FQUI4QUFBRUZBUUVCQVFFQkFBQUFBQUFBQUFBQkFnTUVCUVlIQ0FrS0MvL0VBTFVRQUFJQkF3TUNCQU1GQlFRRUFBQUJmUUVDQXdBRUVRVVNJVEZCQmhOUllRY2ljUlF5Z1pHaENDTkNzY0VWVXRId0pETmljb0lKQ2hZWEdCa2FKU1luS0NrcU5EVTJOemc1T2tORVJVWkhTRWxLVTFSVlZsZFlXVnBqWkdWbVoyaHBhbk4wZFhaM2VIbDZnNFNGaG9lSWlZcVNrNVNWbHBlWW1acWlvNlNscHFlb3FhcXlzN1MxdHJlNHVickN3OFRGeHNmSXljclMwOVRWMXRmWTJkcmg0dVBrNWVibjZPbnE4Zkx6OVBYMjkvajUrdi9FQUI4QkFBTUJBUUVCQVFFQkFRRUFBQUFBQUFBQkFnTUVCUVlIQ0FrS0MvL0VBTFVSQUFJQkFnUUVBd1FIQlFRRUFBRUNkd0FCQWdNUkJBVWhNUVlTUVZFSFlYRVRJaktCQ0JSQ2thR3h3UWtqTTFMd0ZXSnkwUW9XSkRUaEpmRVhHQmthSmljb0tTbzFOamM0T1RwRFJFVkdSMGhKU2xOVVZWWlhXRmxhWTJSbFptZG9hV3B6ZEhWMmQzaDVlb0tEaElXR2g0aUppcEtUbEpXV2w1aVptcUtqcEtXbXA2aXBxckt6dExXMnQ3aTV1c0xEeE1YR3g4akp5dExUMU5YVzE5aloydUxqNU9YbTUranA2dkx6OVBYMjkvajUrdi9hQUF3REFRQUNFUU1SQUQ4QStHdEoxZGhFR3pYMEdlWTUxNjFqOHd4R0hWN0hwZmdDSzcxZG1hTG92Sk5mTXJGS2xxemtoa0ZUTVcxVFI3MzhHSlBOMWgwbFlaajROZmx2SDJadVdEVk9IVStzNE80Zmxnc2U1VkZxajZLdGZLdVk4S3dOZnkxUG1pN3Mvb3RLeVB5UTBHNU1rSVZ1RFgrZ2VZYTFMby9tekUwL2YwTys4R2ZFMCtGalBBRXp1R0srY3hOSjFJV1I5WmsxZUdDWE5KSGQvQ3Z4dnEwdmlLUzRnQjhpUnVjVjhCbnVCcDE2S2hONm4xR1cxMVZ4VG5GSDJ4OE9Mc2FocDZTczN6RWNnMS9PbWNVSlllcTROSDZCZFBZL1AvVGZoUmJXZW9xc2twS250aXY3YnExK2FKK1F3eXlFcEs1eUhpdnd1ZEk4UnZBa2JGV1B5OGRhODcycTVHNUdPTXd2c3BxTUQ2RS9aNStIRjYwVFhOMUdZYllqT1dGZmovRStjMG92a3BPOGo2SEpNRlZWWG5hMFBwYnc4a09qM0NyQlBsUjFYTmZsZU94TXNYVC9BSGtkVDlIalM1VE5Qd20wZTZRdkhDdm1qcHhYOVVWYXFwUWM1YkkrQlVkZERoTlorRDFqRHFZdjlTdDFLUkhJNDdWK2JadHhGVHEwNVVNTS9lUFZvWmVxejU2aDZWOE5JOVA4V3d6V2xnQkZGQ051RkdLOHZKK0czaTA2K0lkMnpxcjRxT0Z0Q21VOVUwcVR3NXJUeHVTUUR4WHpHZDVmOVRxdUMyUFV3K0k5ckM1Ly85az0iPgoJPC9pbWFnZT4KPC9zdmc+ 32w'
                        width: 1200
                        height: 1200
                    video_thumbnail: null
                    video_duration: null
                    video_embed: null
                    video_aspect_ratio: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: rec2Cq3jSUmcpveKf
                      text:
                        type: string
                        example: "<p>Balóny prinášajú do výstavného priestoru pocity tepla a telesnosti. Sú akýmsi symbolickým modelom sveta, no zároveň aj skupinou veľkorysých <strong>dýchajúcich obrov</strong>, ktorí novú výstavnú sálu „zabývajú“ pre ďalšie diela súčasného umenia.</p>\n<p>Pôvodne mali byť balóny aj impulzom pre blízky kontakt medzi ľuďmi. Túto myšlienku rozvíja špeciálna <strong>tanečná performancia</strong> <em>Komplementarita</em> choreografky <strong>Petry Fornayovej</strong>.</p>\n"
                      links:
                        type: array
                        example:
                          -
                            id: recYbC25rmRIoXUPn
                            title: 'Čo symbolizujú farby?'
                            story_id: recn2jDclSbYQeJ5a
                          -
                            id: recHQ3qSxV28gA00y
                            title: 'Ako balóny dýchajú?'
                            story_id: recrNWWgMga2TDy9z
                          -
                            id: recXHUFWSo2AR2Vov
                            title: 'Viac o performance'
                            story_id: reclu0PbfgmSWjAfT
                          -
                            id: recrit2DllZbrufFQ
                            title: Naspäť
                            story_id: rec6wsEULr2e5WyWZ
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: recYbC25rmRIoXUPn
                            title:
                              type: string
                              example: 'Čo symbolizujú farby?'
                            story_id:
                              type: string
                              example: recn2jDclSbYQeJ5a
                      images:
                        type: array
                        example:
                          -
                            src: 'https://atlas.sng.sk.test/storage/media/91/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE.jpeg'
                            srcset: 'https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_1200_1200.jpeg 1200w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_1003_1003.jpeg 1003w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_839_839.jpeg 839w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_702_702.jpeg 702w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_588_588.jpeg 588w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_491_491.jpeg 491w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_411_411.jpeg 411w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_344_344.jpeg 344w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_288_288.jpeg 288w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_241_241.jpeg 241w, data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHg9IjAiCiB5PSIwIiB2aWV3Qm94PSIwIDAgMTIwMCAxMjAwIj4KCTxpbWFnZSB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB4bGluazpocmVmPSJkYXRhOmltYWdlL2pwZWc7YmFzZTY0LC85ai80QUFRU2taSlJnQUJBUUVBWUFCZ0FBRC8vZ0E3UTFKRlFWUlBVam9nWjJRdGFuQmxaeUIyTVM0d0lDaDFjMmx1WnlCSlNrY2dTbEJGUnlCMk9EQXBMQ0J4ZFdGc2FYUjVJRDBnT1RBSy85c0FRd0FEQWdJREFnSURBd01EQkFNREJBVUlCUVVFQkFVS0J3Y0dDQXdLREF3TENnc0xEUTRTRUEwT0VRNExDeEFXRUJFVEZCVVZGUXdQRnhnV0ZCZ1NGQlVVLzlzQVF3RURCQVFGQkFVSkJRVUpGQTBMRFJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVUvOEFBRVFnQUlBQWdBd0VSQUFJUkFRTVJBZi9FQUI4QUFBRUZBUUVCQVFFQkFBQUFBQUFBQUFBQkFnTUVCUVlIQ0FrS0MvL0VBTFVRQUFJQkF3TUNCQU1GQlFRRUFBQUJmUUVDQXdBRUVRVVNJVEZCQmhOUllRY2ljUlF5Z1pHaENDTkNzY0VWVXRId0pETmljb0lKQ2hZWEdCa2FKU1luS0NrcU5EVTJOemc1T2tORVJVWkhTRWxLVTFSVlZsZFlXVnBqWkdWbVoyaHBhbk4wZFhaM2VIbDZnNFNGaG9lSWlZcVNrNVNWbHBlWW1acWlvNlNscHFlb3FhcXlzN1MxdHJlNHVickN3OFRGeHNmSXljclMwOVRWMXRmWTJkcmg0dVBrNWVibjZPbnE4Zkx6OVBYMjkvajUrdi9FQUI4QkFBTUJBUUVCQVFFQkFRRUFBQUFBQUFBQkFnTUVCUVlIQ0FrS0MvL0VBTFVSQUFJQkFnUUVBd1FIQlFRRUFBRUNkd0FCQWdNUkJBVWhNUVlTUVZFSFlYRVRJaktCQ0JSQ2thR3h3UWtqTTFMd0ZXSnkwUW9XSkRUaEpmRVhHQmthSmljb0tTbzFOamM0T1RwRFJFVkdSMGhKU2xOVVZWWlhXRmxhWTJSbFptZG9hV3B6ZEhWMmQzaDVlb0tEaElXR2g0aUppcEtUbEpXV2w1aVptcUtqcEtXbXA2aXBxckt6dExXMnQ3aTV1c0xEeE1YR3g4akp5dExUMU5YVzE5aloydUxqNU9YbTUranA2dkx6OVBYMjkvajUrdi9hQUF3REFRQUNFUU1SQUQ4QStHdEoxZGhFR3pYMEdlWTUxNjFqOHd4R0hWN0hwZmdDSzcxZG1hTG92Sk5mTXJGS2xxemtoa0ZUTVcxVFI3MzhHSlBOMWgwbFlaajROZmx2SDJadVdEVk9IVStzNE80Zmxnc2U1VkZxajZLdGZLdVk4S3dOZnkxUG1pN3Mvb3RLeVB5UTBHNU1rSVZ1RFgrZ2VZYTFMby9tekUwL2YwTys4R2ZFMCtGalBBRXp1R0srY3hOSjFJV1I5WmsxZUdDWE5KSGQvQ3Z4dnEwdmlLUzRnQjhpUnVjVjhCbnVCcDE2S2hONm4xR1cxMVZ4VG5GSDJ4OE9Mc2FocDZTczN6RWNnMS9PbWNVSlllcTROSDZCZFBZL1AvVGZoUmJXZW9xc2twS250aXY3YnExK2FKK1F3eXlFcEs1eUhpdnd1ZEk4UnZBa2JGV1B5OGRhODcycTVHNUdPTXd2c3BxTUQ2RS9aNStIRjYwVFhOMUdZYllqT1dGZmovRStjMG92a3BPOGo2SEpNRlZWWG5hMFBwYnc4a09qM0NyQlBsUjFYTmZsZU94TXNYVC9BSGtkVDlIalM1VE5Qd20wZTZRdkhDdm1qcHhYOVVWYXFwUWM1YkkrQlVkZERoTlorRDFqRHFZdjlTdDFLUkhJNDdWK2JadHhGVHEwNVVNTS9lUFZvWmVxejU2aDZWOE5JOVA4V3d6V2xnQkZGQ051RkdLOHZKK0czaTA2K0lkMnpxcjRxT0Z0Q21VOVUwcVR3NXJUeHVTUUR4WHpHZDVmOVRxdUMyUFV3K0k5ckM1Ly85az0iPgoJPC9pbWFnZT4KPC9zdmc+ 32w'
                            width: 1200
                            height: 1200
                        items:
                          type: object
                          properties:
                            src:
                              type: string
                              example: 'https://atlas.sng.sk.test/storage/media/91/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE.jpeg'
                            srcset:
                              type: string
                              example: 'https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_1200_1200.jpeg 1200w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_1003_1003.jpeg 1003w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_839_839.jpeg 839w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_702_702.jpeg 702w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_588_588.jpeg 588w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_491_491.jpeg 491w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_411_411.jpeg 411w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_344_344.jpeg 344w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_288_288.jpeg 288w, https://atlas.sng.sk.test/storage/media/91/responsive-images/NwdyrfZ69JGFAaNNGh1fwoLVhyEtwNLiFImofgpVQqE___media_library_original_241_241.jpeg 241w, data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHg9IjAiCiB5PSIwIiB2aWV3Qm94PSIwIDAgMTIwMCAxMjAwIj4KCTxpbWFnZSB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB4bGluazpocmVmPSJkYXRhOmltYWdlL2pwZWc7YmFzZTY0LC85ai80QUFRU2taSlJnQUJBUUVBWUFCZ0FBRC8vZ0E3UTFKRlFWUlBVam9nWjJRdGFuQmxaeUIyTVM0d0lDaDFjMmx1WnlCSlNrY2dTbEJGUnlCMk9EQXBMQ0J4ZFdGc2FYUjVJRDBnT1RBSy85c0FRd0FEQWdJREFnSURBd01EQkFNREJBVUlCUVVFQkFVS0J3Y0dDQXdLREF3TENnc0xEUTRTRUEwT0VRNExDeEFXRUJFVEZCVVZGUXdQRnhnV0ZCZ1NGQlVVLzlzQVF3RURCQVFGQkFVSkJRVUpGQTBMRFJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVVGQlFVRkJRVUZCUVUvOEFBRVFnQUlBQWdBd0VSQUFJUkFRTVJBZi9FQUI4QUFBRUZBUUVCQVFFQkFBQUFBQUFBQUFBQkFnTUVCUVlIQ0FrS0MvL0VBTFVRQUFJQkF3TUNCQU1GQlFRRUFBQUJmUUVDQXdBRUVRVVNJVEZCQmhOUllRY2ljUlF5Z1pHaENDTkNzY0VWVXRId0pETmljb0lKQ2hZWEdCa2FKU1luS0NrcU5EVTJOemc1T2tORVJVWkhTRWxLVTFSVlZsZFlXVnBqWkdWbVoyaHBhbk4wZFhaM2VIbDZnNFNGaG9lSWlZcVNrNVNWbHBlWW1acWlvNlNscHFlb3FhcXlzN1MxdHJlNHVickN3OFRGeHNmSXljclMwOVRWMXRmWTJkcmg0dVBrNWVibjZPbnE4Zkx6OVBYMjkvajUrdi9FQUI4QkFBTUJBUUVCQVFFQkFRRUFBQUFBQUFBQkFnTUVCUVlIQ0FrS0MvL0VBTFVSQUFJQkFnUUVBd1FIQlFRRUFBRUNkd0FCQWdNUkJBVWhNUVlTUVZFSFlYRVRJaktCQ0JSQ2thR3h3UWtqTTFMd0ZXSnkwUW9XSkRUaEpmRVhHQmthSmljb0tTbzFOamM0T1RwRFJFVkdSMGhKU2xOVVZWWlhXRmxhWTJSbFptZG9hV3B6ZEhWMmQzaDVlb0tEaElXR2g0aUppcEtUbEpXV2w1aVptcUtqcEtXbXA2aXBxckt6dExXMnQ3aTV1c0xEeE1YR3g4akp5dExUMU5YVzE5aloydUxqNU9YbTUranA2dkx6OVBYMjkvajUrdi9hQUF3REFRQUNFUU1SQUQ4QStHdEoxZGhFR3pYMEdlWTUxNjFqOHd4R0hWN0hwZmdDSzcxZG1hTG92Sk5mTXJGS2xxemtoa0ZUTVcxVFI3MzhHSlBOMWgwbFlaajROZmx2SDJadVdEVk9IVStzNE80Zmxnc2U1VkZxajZLdGZLdVk4S3dOZnkxUG1pN3Mvb3RLeVB5UTBHNU1rSVZ1RFgrZ2VZYTFMby9tekUwL2YwTys4R2ZFMCtGalBBRXp1R0srY3hOSjFJV1I5WmsxZUdDWE5KSGQvQ3Z4dnEwdmlLUzRnQjhpUnVjVjhCbnVCcDE2S2hONm4xR1cxMVZ4VG5GSDJ4OE9Mc2FocDZTczN6RWNnMS9PbWNVSlllcTROSDZCZFBZL1AvVGZoUmJXZW9xc2twS250aXY3YnExK2FKK1F3eXlFcEs1eUhpdnd1ZEk4UnZBa2JGV1B5OGRhODcycTVHNUdPTXd2c3BxTUQ2RS9aNStIRjYwVFhOMUdZYllqT1dGZmovRStjMG92a3BPOGo2SEpNRlZWWG5hMFBwYnc4a09qM0NyQlBsUjFYTmZsZU94TXNYVC9BSGtkVDlIalM1VE5Qd20wZTZRdkhDdm1qcHhYOVVWYXFwUWM1YkkrQlVkZERoTlorRDFqRHFZdjlTdDFLUkhJNDdWK2JadHhGVHEwNVVNTS9lUFZvWmVxejU2aDZWOE5JOVA4V3d6V2xnQkZGQ051RkdLOHZKK0czaTA2K0lkMnpxcjRxT0Z0Q21VOVUwcVR3NXJUeHVTUUR4WHpHZDVmOVRxdUMyUFV3K0k5ckM1Ly85az0iPgoJPC9pbWFnZT4KPC9zdmc+ 32w'
                            width:
                              type: integer
                              example: 1200
                            height:
                              type: integer
                              example: 1200
                      video_thumbnail:
                        type: string
                        example: null
                      video_duration:
                        type: string
                        example: null
                      video_embed:
                        type: string
                        example: null
                      video_aspect_ratio:
                        type: string
                        example: null
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: ''
        example: rec2Cq3jSUmcpveKf
        required: true
        schema:
          type: string
  '/api/places/{id}':
    get:
      summary: 'GET api/places/{id}'
      operationId: gETApiplacesid
      description: "Gets the place with the given ID. If it is, the response will contain the place's data."
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Record not found.'
                properties:
                  message:
                    type: string
                    example: 'Record not found.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: ''
        example: 'SVK:SNG.O_1405'
        required: true
        schema:
          type: string
  '/api/bucketlists/{id}':
    get:
      summary: 'GET api/bucketlists/{id}'
      operationId: gETApibucketlistsid
      description: 'Gets the items for the bucketlist/scavenger hunt. Returns the list of items and their data.'
      parameters: []
      responses:
        200:
[...]
