@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Regular.eot');
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Regular.woff2') format('woff2'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Regular.woff') format('woff'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Medium.eot');
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Medium.woff2') format('woff2'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Medium.woff') format('woff'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Bold.eot');
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Bold.woff2') format('woff2'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Bold.woff') format('woff'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.eot');
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.woff2') format('woff2'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.woff') format('woff'),
        url('../fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: oblique;
}

/*

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Light.eot');
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-Walsheim/GT-Walsheim-Light.woff2') format('woff2'),
         url('../fonts/GT-Walsheim/GT-Walsheim-Light.woff') format('woff'),
         url('../fonts/GT-Walsheim/GT-Walsheim-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Thin.eot');
    src: url('../fonts/GT-Walsheim/GT-Walsheim-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-Walsheim/GT-Walsheim-Thin.woff2') format('woff2'),
         url('../fonts/GT-Walsheim/GT-Walsheim-Thin.woff') format('woff'),
         url('../fonts/GT-Walsheim/GT-Walsheim-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
*/
